# --- Python cache ---
__pycache__/
*.py[cod]

# --- Jupyter checkpoints ---
.ipynb_checkpoints/

# --- Azure Functions ---
FunctionApp/local.settings.json
FunctionApp/.python_packages/
FunctionApp/.vscode/
FunctionApp/bin/
FunctionApp/obj/

# --- Données (brutes ou générées) ---
data/

# --- Environnement virtuel ---
.venv/
venv/